@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <label asp-for="Member.Year"></label><br />
        <input asp-for="Member.Year" /><br /><br />
        <label asp-for="Member.Name"></label><br />
        <input asp-for="Member.Name" /><br /><br />
        <button type="submit" class="btn btn-primary">Zatwierdź</button><br />
        <span asp-validation-for="Member.Year" , class=" alert-danger"></span>


        @if (Model.members != null)
            @foreach (var var in Model.members)
            {
                var.IsValid(var.Name);
                <p>@var.Name, @var.ErrorMessage @var.Year - @var.IsLeap(var.Year)</p><br />
            }

    </form><br />

</div>


